.header {
  padding: 0.8rem 0;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background: #fff;
  z-index: 10;
}

.nav {
  text-align: right; /* aligns the hamburger menu to the right side of the screen */
}

.navListItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.showHamburgerLinks {
  display: block; /* only applicable when the screen size is less than the min-width specified in the media query */
}

.navListItem {
  width: 100%;
  text-align: center;
}

.navListItem a {
  display: inline-block;
  padding: 0.5rem 0;
  width: 100%;
  text-decoration: none;
}

.active {
  color: #000;
}

@media (min-width: 600px) {
  .nav {
    display: flex;
    justify-content: space-between;
    text-align: initial;
  }

  .hamburger {
    display: none;
  }

  .navListItems {
    display: flex;
  }

  .navListItem {
    width: auto;
    margin: 0 0.5rem;
  }

  .navListItem:first-child {
    margin-left: 0;
  }

  .navListItem:last-child {
    margin-right: 0;
  }

  .navListItem a {
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    width: auto;
    transition: 0.3s;
  }

  @media (any-hover: hover) {
    .navListItem a:hover {
      color: #000;
    }
  }
}
